@font-face {
  font-family: "bebas";
  src: url("../shared/fonts/bebas-regular/bebas.eot"); /* IE9 Compat Modes */
  src: url("../shared/fonts/bebas-regular/bebas.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../shared/fonts/bebas-regular/bebas.otf") format("opentype"), /* Open Type Font */
  url("../shared/fonts/bebas-regular/bebas.svg") format("svg"), /* Legacy iOS */
  url("../shared/fonts/bebas-regular/bebas.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../shared/fonts/bebas-regular/bebas.woff") format("woff"), /* Modern Browsers */
  url("../shared/fonts/bebas-regular/bebas.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "HelveticaNeue-Light";
  src: url("../shared/fonts/HelveticaNeue-Light/HelveticaNeueCyr-Light.eot"); /* IE9 Compat Modes */
  src: url("../shared/fonts/HelveticaNeue-Light/HelveticaNeueCyr-Light.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("../shared/fonts/HelveticaNeue-Light/HelveticaNeueCyr-Light.otf") format("opentype"), /* Open Type Font */
  url("../shared/fonts/HelveticaNeue-Light/HelveticaNeueCyr-Light.svg") format("svg"), /* Legacy iOS */
  url("../shared/fonts/HelveticaNeue-Light/HelveticaNeueCyr-Light.ttf") format("truetype"), /* Safari, Android, iOS */
  url("../shared/fonts/HelveticaNeue-Light/HelveticaNeueCyr-Light.woff") format("woff"), /* Modern Browsers */
  url("../shared/fonts/HelveticaNeue-Light/HelveticaNeueCyr-Light.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}