$bebas:"Bebas";
$helveticaNue-light:"HelveticaNeue-Light";
$helveticaNue:"HelveticaNeue-Regular";
$logo-first-color:#e8603c;
$logo-second-color:#f3af9d;

$nav-not-active:#b9b9b9;
$nav-active:#e8663c;
$h1size:2.25rem;

$decor-color:#f3af9d;
$preview-color:#ec7833;
$gallery-text-color:#ffffff;

$portfolio-color-theme:#e8663c;

$works-main-theme:#e8603c;
$works-heading-color:#b9b9b9;

$footer-main-theme:#e8663c;

$main-theme:#e8663c;