mixin footerPage(mixClass)
    footer.footer.main__footer
        .footer__about.footer__item
            h2.footer__head About Jetro
            .footer__text-box
                p.footer__text
                    | Lorem ipsum dolor sit amet, malorum recteque
                    | reprehendunt ea vel.Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire
                    | convenire his ea. Id mei vitae denique, in eam commodo veritus disputando.
                    br
                    br
                    | Pro et erant delicata,
                    |                 eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet
                    |                 oporteat cu vim.
        .footer__about.footer__item.footer__item--widget
            h2.footer__head Twitter Widget
            .footer__text-box
                p.footer__text
                    span @pixelmater
                    |  What an awesome design
                    |                 with great functionality :)
                    br
                    br
                    span about 1 hour ago
                    br
                    br
                    span @designdude
                    |  What
                    |                 an awesome design with great functionality :)
                    br
                    br
                    | Follow
                    span  @bestpsdfreebies
        .footer__about.footer__item.footer__item--contact
            h2.footer__head Contact Us
            .footer__text-box
                p.footer__text
                    | Lorem ipsum dolor sit amet, malorum recteque
                    | reprehendunt ea vel.
                    | Urbanitas adolescens vim te, per at tritani aperiri.
                    br
                    br
                    | information@jetro.com
                    br
                    | 1.222.333.4444