mixin arrow-decor(mixClass)
    svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 36 52' width='36' height='52')
        g
            g()
                path(fill='#fff' d='M 9.633 52.001 L 35.455 26 L 9.633 0 L 0.001 9.563 L 16.324 26 L 0 42.436 Z')
