.article{
  &__img-box{
    width: 100%;
    height: 400px;

  }
  &__img{
    width: 100%;
    height: 100%;
    object-fit: cover;

  }
  &__text-box{
    width: 100%;
    margin-top:24px;
    & p{
      color: $article-text;
      font-family: $helveticaNue;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 18px;
      &:nth-child(n+2){
        margin-top:18px;
      }
    }
  }
}