.burger{
  width: 32px;
  height: 25px;
  position: relative;
  cursor: pointer;

  &__line{
    height: 5px;
    background-color: $logo-first-color;
    width: 100%;
    position: absolute;
    left:0;
    border-radius: 25px;

    &--top{
      top: 0;
    }
    &--middle{
      top: 50%;
      transform: translateY(-50%);
    }
    &--bottom{
      bottom: 0;
    }
  }

}