.footer {
  min-height: 265px;
  background-color: $footer-main-theme;
  padding-top: 38px;
  padding-left: 35px;
  &__item {
    width: 33.3333333%;
    display: inline-block;
    float: left;
    height: 100%;
    &--widget {
      padding-left: 23px;
    }
    &--contact {
      padding-left: 20px;
    }
  }
  &__head {
    color: #ffffff;
    font-size: 1.25rem;
    font-weight: 400;
  }
  &__text-box {
    width: 100%;
    margin-top: 27px;
  }
  &__text {
    color: #ffffff;
    max-width: 260px;
    font-family: $helveticaNue;
    font-size: 0.75rem;
    line-height: 14px;
    font-weight: 400;
    & p {
      color: #ffffff;
      font-family: $helveticaNue;
      font-size: 0.75rem;
      font-weight: 400;

    }
    & span {
      color: #f3b29d;
      font-family: $helveticaNue;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 14px;
    }
  }
  @include max-media('650px') {
    padding-left: 10px;
    &__item {
      width: 50%;
      &--widget {
        display: none;
      }
    }
  }
  @include max-media('450px') {
    height: 600px;
    padding-top:10px;
    &__item {
      text-align: left;
      width: 100%;
      height: auto;
      float: none;
      display: block;
      &--widget {
        padding-left: 0;
      }
      &--contact {
        padding-left: 0;
      }
      &:nth-child(n+1) {
        margin-top: 20px;
      }

    }
    &__head{
      text-align: center;
    }
    &__text-box{
      margin-top:15px;
    }
    &__text {
      margin: 0 auto;
    }
  }
}