.gallery {
  width: 100%;
  position: relative;
  z-index: 10;
  &__preview {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin-bottom: 17px;
    @include max-media('650px') {
      margin-bottom: 0;
    }
  }
  &__main-img {
    height: 401px;
    width: 100%;
    object-fit: cover;
    position: relative;
    z-index: 10;
  }
  &__text-wrapper {
    min-height: 124px;
    width: 413px;
    padding: 22px 15px 15px 20px;
    //opacity: 0.65;
    position: absolute;
    bottom: 32px;
    left: 36px;
    z-index: 11;
    color: $gallery-text-color;
    @include max-media('475px') {
      width: 100%;
      left: 0px;

    }
  }
  &__gallery-head {
    font-size: 1.125rem;
    font-family: $bebas;
  }
  &__link-wrapper {
    display: block;
    width: 100%;
    height: 100%;
    color: $gallery-text-color;
    opacity: 1;
    text-decoration: none;

  }
  &__text {
    margin-top: 22px;
    text-decoration: none;
    color: $gallery-text-color;
    font-family: $helveticaNue-light;
    line-height: 0.875rem;
    font-size: 0.75rem;
  }
  &__decor {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    background-color: $preview-color;
    opacity: 0.6;
  }
  &__list {
    display: block;
    @include sFlex() {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
  &__item { // 800px // 650px
    display: inline-block;
    width: calc((100% - 100px) / 6); //140
    height: 120px;
    cursor: pointer;
    margin: 0 10px;
    position: relative;
    z-index: 5;
    overflow: hidden;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      .gallery__item-decription {
        display: block;
      }
    }
    @include max-media('800px') {
      width: calc((100% - 100px) / 3);
      margin: 0;
      margin: 0 calc((100% - (100% - 100px)) / 4); //780- 50
      &:nth-child(3n) {
        margin-right: 0;
      }
      &:nth-child(4n) {
        margin-left: 0;
      }
      &:nth-child(n+4) {
        margin-top: 20px;
      }
    }
    @include max-media('650px') {
      width: 100%;
      height: 50px;
      margin: 0;
      &:nth-child(1n) {
        margin-top: 5px;
      }
    }
    @include sFlex() {
      margin: 0;
      &:hover {
        .gallery__item-img {
          transform: scale3d(1.4, 1.4, 1.4);
          transition: 0.4s ease;
          filter: blur(1px);
        }
        .gallery__item-decription {
          display: block;
        }
      }
      &:nth-child(n) {
        margin-right:0;
        margin-left: 0;
      }
    }
  }
  &__item-img {
    width: 100%;
    height: 100%;
    position: relative;
    transition: 0.2s ease;
    filter: blur(0px);
    transform: scale3d(1, 1, 1);
    z-index: 5;
    object-fit: cover;

  }
  &__item-decription {
    display: none;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-55%);
    z-index: 6;
    left: 15px;
    @include max-media('650px') {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-55%);
      z-index: 6;
      left: 15px;
    }
  }
  &__item-head {
    color: white;
    line-height: 20px;
    text-overflow: ellipsis;
    max-width: 85%;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
  }
  &__item-text {
    display: none;
  }
}