.header {
  height: 78px;
  display: block;
  position: relative;

  @include sFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;

  }
  &__logo {
    float: left;
    position: relative;
    z-index: 16;
    line-height: 78px;
    @include sFlex {
      line-height: inherit;
    }
  }
  &__nav {
    margin-top: 2px;
    float: right;
    min-width: 41.725%;
    line-height: 78px;
    @include sFlex {
      line-height: inherit;
    }
  }
  &__burger {
    position: absolute;
    top: 54%;
    right: 10px;
    transform: translateY(-50%);
    display: none;
    z-index: 16;
    @include mobile {
      display: block;
    }
  }
  @include mobile() {
    width: 100%;
  }

}