.heading-item{
  height: 61px;
  width: 100%;
  position: relative;
  background-color: $main-theme;
  & h2{
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    left: 19px;
    font-weight: 400;
    line-height: 32px;
  }
}