.portf-section { //900
  width: 100%;

  &__portfolio-item {
    display: inline-block;
    width: 300px;

    margin-right: calc((100% - 900px) / 4);
    margin-left: calc((100% - 900px) / 4);
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  @include max-media('900px') {
    &__portfolio-item {
      display: block;
      width: 400px;
      margin: 0 auto;
      &:first-child {
        margin-left: 0;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  @include max-media('400px') {
    &__portfolio-item {
      &:nth-child(n) {
        margin: auto;
      }
      &:nth-child(n+1) {
        margin-top: 20px;
      }
      display: block;
      width: 310px;
      margin: 0 auto;
    }
  }
  @include sFlex() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    &__portfolio-item {
      &:nth-child(n) {
        margin: 0;
      }
    }
    @include max-media('920px'){
      flex-direction: column;
      justify-content: flex-start;
      flex-wrap: nowrap;
      &__portfolio-item{
        &:nth-child(n+1){
          margin-top:20px;
        }
        &:nth-child(2){
          align-self: center;
        }
        &:last-child{
          align-self: flex-end;
        }
      }
    }
    @include max-media('415px'){
      justify-content: center;
      align-items: center;
      &__portfolio-item{
        &:nth-child(n){
          align-self: auto;
        }
      }

    }
  }
}
