include ../blocks/header
include ../layouts/head
include ../blocks/decor
include ../blocks/gallery

+head
body.main
    div.wrapper
        +header
        +gallery('main__slider')
    +decor('main__decor')
