include ../blocks/header
include ../layouts/head
include ../blocks/decor
include ../blocks/gallery
include ../blocks/portf-section
include ../blocks/works
include ../blocks/footer
+head
body.main
    div.wrapper
        +header
        +gallery('main__slider')
        +portf-section('main__portf-section')
        +works('main__works')
        +footer('main__footer')
    +decor('page__decor page__decor--top decor--small')
    +decor('page__decor page__decor--bottom decor--big')

