include ../blocks/header
include ../layouts/head
include ../blocks/decor
include ../blocks/slider

+head
body.main
    div.wrapper
        +header
        +slider('main__slider')
    +decor('main__decor')