include ../blocks/header
include ../layouts/head
include ../blocks/heading-item
include ../blocks/decor
include ../blocks/footer
include ../blocks/article
include ../blocks/works
+head
body.individual
    div.wrapper
        +header
        +heading-item('portfolio__heading-item','Slider  Plugin')
        +article('individual__article')
        +works('individual__works')
        +footer('page__footer')
    +decor('page__decor page__decor--top decor--small')
    +decor('page__decor page__decor--bottom decor--big')