////common
@import "./common/fonts";
@import "./common/reset";
@import "./common/variables";
@import "./common/mixin";
@import "./common/plugin";



@import "blocks/page";
@import "blocks/main";
@import "blocks/portfolio";

@import "blocks/wrapper";
@import "blocks/heading-item";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/burger";
@import "blocks/header";
@import "blocks/decor";
@import "blocks/gallery";
@import "blocks/portf-section";
@import "blocks/portfolio-item";
@import "blocks/works";
@import "blocks/footer";
@import "blocks/portfolio-navigation";
@import "blocks/individual";
@import "blocks/article";
