//common
@import "./common/fonts";
@import "./common/reset";
@import "./common/variables";
@import "./common/mixin";



@import "blocks/main";

@import "blocks/wrapper";
@import "blocks/header";
@import "blocks/logo";
@import "blocks/nav";
@import "blocks/burger";
@import "blocks/header";
@import "blocks/decor";
@import "blocks/slider";