.blog-item {
  margin-top: 55px;
  position: relative;
  &:first-child {
    margin-top: 0;
  }
  &__decor {
    position: relative;
    &:before {
      position: absolute;
      width: 75px;
      height: 75px;
      background-color: #e8603c;
      left: -85px;
      top: 0;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
    }
    &--slider {
       &:before {
         background-image: url('../shared/images/icon-slider.svg');
       }
     }
    &--video {
      &:before {
        background-image: url('../shared/images/icon-play.svg');
      }
    }
    &--blockquote{
      &:before {
        background-image: url('../shared/images/icon-blockquote.png');
      }
    }
    &--text{
      &:before {
        background-image: url('../shared/images/icon-text.svg');
      }
    }
    &--link{
      &:before {
        background-image: url('../shared/images/icon-link.svg');
      }
    }
  }
  &__content {
    width: 100%;
  }
  &__slider {
    width: 100%;
    position: relative;
  }
  &__button{
    position: absolute;
    top: 50% ;
    transform: translateY(-50%);
    width: 36px;
    height: 52px;
    content: '';
    z-index: 100;
    cursor: pointer;
    & svg{
      width: 100%;
      height: 100%;
      opacity: 0.5;
      transition: 0.5s ease;
    }
    &:hover{
      & svg{
        opacity: 0.9;
        transition: 0.3s ease;
      }
    }
    &--next{
      right: 18px;
    }
    &--prev{
      transform: translateY(-50%) rotate(180deg);
      left: 18px;
    }
  }
  &__img {
    width: 100% !important;
    max-height: 300px;
    height: 100%;
    & img {
      width: 100%;
      height: 100% !important;
      max-height: 300px;
      object-fit: cover;
    }
  }
  &__video{
    width: 100%;
    height: 300px;
    & iframe{
      width: 100%;
      height: 100%;
    }
  }
  &__blog-description {
    margin-top: 20px;
  }
  &__blockquote{
    background-color: #f5f5f5;
    width:100%;

    padding: 25px 30px 20px 75px;
    & p{
      color: #474747;
      font-family: $helveticaNue;
      font-size: 0.8125rem;
      font-style: italic;
      line-height: 18px;
      position: relative;
      &:before{
        position: absolute;
        background-image: url('../shared/images/icon-blockquote-second.png');
        top: 0px;
        left: -35px;
        height: 20px;
        width: 25px;
        content: '';
      }
    }
  }
  @include max-media('1110px'){
    &__decor{
      &:before{
        display: none;
      }
    }
  }
  @include max-media('500px'){
    &__img {
      height: 300px;
      background-color: rgba(204, 204, 204, 0.3);
      & img {
        height: 300px;
        object-fit: contain;
      }
    }
  }
}
.js-blog-slider{
  width: 100%;
  max-height: 280px;
  overflow-y: hidden;
  & div{
    //height: 300px !important;

  }
}