.blog-description{

  max-height: 230px;
  height: 230px;
  position: relative;

  &:before{
    display: block;
    width: 100%;
    position: absolute;
    height: 14px;
    content: '';
    background-image: url('../shared/images/line-decor.png');
    background-repeat:repeat-x;
    bottom: 0;
    left: 0;
  }
  &__inf{
    height: 100%;
    display: inline-block;
    max-width: 100px;
    float: left;
    margin-right:50px;
  }
  &__box:not(:first-child){
    margin-top:10px;
  }
  &__info{
    color: #bababa;
    font-family: $helveticaNue;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 20px;
  }
  &__text-wrap{
  display: inline-block;
    max-width: 500px;
  }
  &__heading{
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 20px;
    color: $main-theme;
    font-family: $bebas;
  &--big{
    font-size:1.125rem;
    margin-bottom:20px;
  }
  }
  &__text{
    & p {
      color: #414141;
      font-family: $helveticaNue;
      font-size: 0.75rem;
      font-weight: 400;
      line-height: 18px;
    }
    & p:not(:first-child){
      margin-top:10px;
    }
  }
}