.blog-item {
  margin-top: 55px;

  &:first-child {
    margin-top: 0;
  }
  &__decor {
    position: relative;
    &:before {
      position: absolute;
      width: 75px;
      height: 75px;
      background-color: #e8603c;
      left: -85px;
      top: 0;
      content: '';
      background-repeat: no-repeat;
      background-position: center;
    }
    &--slider {
       &:before {
         background-image: url('../shared/images/icon-slider.svg');
       }
     }
    &--video {
      &:before {
        background-image: url('../shared/images/icon-play.svg');
      }
    }
    &--blockquote{
      &:before {
        background-image: url('../shared/images/icon-blockquote.png');
      }
    }
    &--text{
      &:before {
        background-image: url('../shared/images/icon-text.svg');
      }
    }
    &--link{
      &:before {
        background-image: url('../shared/images/icon-link.svg');
      }
    }
  }
  &__content {
    width: 100%;
  }
  &__slider {
    width: 100%;
    height: 300px;
  }
  &__img {
    width: 100%;
    height: 100%;
    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__video{
    width: 100%;
    height: 300px;
    & iframe{
      width: 100%;
      height: 100%;
    }
  }
  &__blog-description {
    margin-top: 20px;
  }
  &__blockquote{
    background-color: #f5f5f5;
    width:100%;

    padding: 25px 30px 20px 75px;
    & p{
      color: #474747;
      font-family: $helveticaNue;
      font-size: 0.8125rem;
      font-style: italic;
      line-height: 18px;
      position: relative;
      &:before{
        position: absolute;
        background-image: url('../shared/images/icon-blockquote-second.png');
        top: 0px;
        left: -35px;
        height: 20px;
        width: 25px;
        content: '';
      }
    }
  }
}