.content-wrapper{
  &__left{
    float: left;
    width: 71.8085%;
  }
  &__right{
    float: right;
    width: 28.19114%;
  }
  @include max-media('960px'){
    &__left{
      width: 100%;
      float: none;
    }
  }
}