.contact{
  &__left{

    width: 71.8085%;
  }
  &__right{
    background-color: green;
    width: 28.19114%;
  }
  &__map-box{
    width: 100%;
    height:400px;
    margin-bottom:37px;
    & iframe{
      width: 100%;
      height: 100%;
    }
  }
  &__inf-box{

    float: left;
    font-family: $helveticaNue;
    width: 31.5556%;
    height:200px;
    & p{
      max-width: 170px;
      color: #414141;
      font-family: inherit;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 16px;
      margin-top:14px;
      &:first-child{
        margin-top:0;
      }
    }
    & span{
      color: #e8603c;
      font-family: inherit;
      font-weight: 700;

    }
    & b{
      font-family: inherit;
      font-weight: 700;
    }
  }
  &__input-box{
    float:right;

    width:68.4444% ;
  }
  &__input{
    width: 216px;
    border-radius: 3px;
    height: 33px;
    border: 1px solid #e8603c;
    color: #e8603c;
    padding: 11px 13px;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 28px;
    font-family:$bebas;
    text-transform: uppercase;
    display: block;
    margin-top:12px;
    &:first-child{
      margin-top:0;
    }
    &--textarea{
      width: 100%;
      min-height: 204px;
      resize: none;
    }
  }
  &__submit{
    /* Style for "button" */
    width: 67px;
    height: 31px;
    background-color: #e8663c;
    /* Style for "SUBMIT" */
    color: #ffffff;
    font-family: $bebas;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    outline: none;
    margin-top:10px;
    cursor: pointer;
    border: 1px solid #e8663c;
    border-radius: 3px;
    transition: 0.5s ease;
    &:hover{
      color: #e8663c;
      background-color: transparent;
      border: 1px solid #e8663c;
      transition: 0.3s ease
    }
  }
}