.heading-line{
  width: 100%;
  display: block;
  color: $main-theme;
  font-family: $bebas;
  font-size: 0.875rem;
  font-weight: 400;
  position: relative;
  &:before{
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    height: 100%;
    width: 125px;
    content: '';
    background-image: url('../shared/images/line-decor.png');
    background-repeat:repeat-x;
  }
}