.loaderItem{
  width: 101%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  &__svg{
    width: 320px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    &__svg{
      width: 50px;
      height:50px;
    }
  }
  &__blog{
    height: 300px;
  }
}