.main{
  position: relative;
  &__portf-section{
    margin-top:42px;
  }
  &__works{
    margin-top:28px;
  }
  &__footer{
    margin-top:45px;
  }
  @include max-media('400px'){
    &__portf-section{
      margin-top:20px;
    }
  }
}