.nav {
  &__list {
    display: block;
    @include mobile() {
      margin-top:100px;
      margin-left:2px;
    }
  }
  &__item {
    display: inline-block;
    margin-right: 28px;
    &:last-child {
      margin-right: 0;
    }
    @include max-media('550px') {
      margin-right: 15px;
    }
    @include mobile() {
      display: block;
      margin-top:20px;
      &:first-child{
        margin-top:0;
      }
    }
  }
  &__link {
    text-decoration: none;
    color: $nav-not-active;
    font-size: 1rem;
    font-family: $bebas;
    &.active {
      color: $nav-active;
    }
    &:hover {
      color: $nav-active;
      transition: 0.3s ease;
    }
  }

  @include mobile() {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    height: 400px;
    z-index: 15;
    transform: translateX(calc(-100% - 10px));
    transition: 0.5s ease;
    background-color: white;
    display: block;

  }
  &.open{
    transform: translateX(0);
    transition: 0.5s ease;
  }
}


