.portfolio-navigation{
    width: 100%;
    &__item{
      color: $portfolio-navigation;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 24px;
      display: inline-block;
      transition: 0.4s ease;
      &:hover{
        background-color: $main-theme;
        transition: 0.3s ease;
        color: white;
        cursor: pointer;
      }
      &.active{
        background-color: $main-theme;
        color: white;
      }
    }
  &__link{
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 24px;
    padding: 4px 11px;
    color: inherit;
    display: block;
    width: 100%;
    height: 100%;

  }

}