.portfolio-item {
  &__head {
    width: 100%;
    height: 50px;
    position: relative;
    &:before {
      width: 50px;
      height: 50px;
      position: absolute;
      content: '';
      display: block;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      background-image: url('../shared/images/icons-portfolio.png');
    }
    &--setting {
      &:before {
        background-position: -2px 0;
      }
    }
    &--tick {
      &:before {
        background-position: -57px 0;
      }
    }
    &--contr {
      &:before {
        background-position: -110px 0;
      }
    }
  }
  &__head-text {
    max-width: 270px;
    max-height: 48px;
    overflow-y: hidden;
    padding-left: 71px;
    display: block;
    line-height: 22px;
    font-size: 1.125rem;
    color: $portfolio-color-theme;
  }
  &__text-box {
    margin-top: 25px;
  }
  &__text {
    font-family: HelveticaNeue-Regular;
    font-size: 12px;
    line-height: 20px;
    width: 93%;
  }
  &__button {
    width: 55px;
    height: 32px;
    background-color: $portfolio-color-theme;
    transition: 0.3s ease;
    margin-top: 20px;
    &:hover{
      background-color: white;
      border: 1px solid $portfolio-color-theme;
      transition: 0.3s ease;
      .portfolio-item__link-text{
        color: $portfolio-color-theme;
        transition: 0.3s ease;
      }

    }
  }
  &__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  &__link-text {
    text-decoration: none;
    color: white;
    transition: 0.3s ease;
    font-family: $bebas;
    font-size: 0.75rem;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;

  }

}