.showMore {
  width: 150px;
  height: 50px;
  display: block;

  border: 2px solid $main-theme;
  background-color: $main-theme;
  border-radius: 25px;
  cursor: pointer;
  position: relative;
  transition: 0.5s ease;
  margin: 0 auto;
  margin-top:20px;
  text-transform: uppercase;
  font-size:1rem;
  font-family:$bebas;
  color: white;
  &__text {
    text-transform: uppercase;
    font-family:$bebas;
    position: absolute;
    font-size:1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    display: block;
    width: 100%;
    text-align: center;
  }
  &:hover{
    background-color: transparent;
    transition: 0.5s ease;
    color: $main-theme;
  }
  &.loader{
    background-color: #fff;
    border-color: #fff;
    cursor: default;
    &:before{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 999999;
      background-color: white;
      background-image: url('../shared/plugin/slick-1.8.1/slick/ajax-loader.gif');
      background-position: center;
      background-repeat:no-repeat;
    }
  }
}