.sidebar {// 960
  width: 100%;
  height: 500px;
  padding-left: 46px;
  font-family: $helveticaNue;
  font-size: 0.75rem;
  line-height: 14px;
  &__heading-line {
    margin-bottom: 20px;
  }
  &__section {
    margin-bottom: 37px;
  }
  &__about {
    margin-top: 3px;
    & p {
      color: #464646;
      font-family: inherit;
      font-weight: 400;
    }
  }
  &__categories {

  }
  &__categories-list {
    color: #464646;
    font-family: $helveticaNue;
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 14px;
    & a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__gallery-list{
    display: block;
  }
  &__gallery-item{
    display: block;
    float: left;
    width: 50px;
    height: 50px;
    border: 1px solid #e8603c;
    background-color: #f3af9d;
    margin-right:6px;
    &:nth-child(4n){
      margin-right:0;
    }
    &:nth-child(n+5){
      margin-top:5px;
    }
    & a {
      display: block;
      width: 100%;
      height: 100%;
    }
    & img{
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }
  @include max-media('960px'){
   display: none;
  }

}