.works { // 910 //500
  width: 100%;
  &__head {
    width: 100%;
    position: relative;
    &:before {
      position: absolute;
      display: block;
      width: calc(100% - 133px);
      content: '';
      right: 0;
      top: 1px;
      height: 19px;
      background-image: url('../shared/images/line-decor.png');
      background-repeat: repeat-x;
    }
  }
  &__head-text {
    color: $works-main-theme;
    font-size: 18px;
    font-weight: 400;
    display: inline-block;
  }
  &__list {
    width: 100%;
    margin-top: 29px;
    &--portfolio{
      margin-top:40px;
      &:first-child{
        margin-top:36px;
      }
    }
  }
  &__item {
    display: inline-block;
    width: 220px; // calc
    height: 245px;
    margin: 0 calc((100% - 880px) / 6);
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
  &__img {
    height: 184px;
    width: 100%;
    object-fit: cover;
  }
  &__text-box {
    width: 100%;
    height: 100%;
    display: block;
    padding: 13px;
    border-bottom: 1px solid #dbdbdb;
    border-right: 1px solid #dbdbdb;
    border-left: 1px solid #dbdbdb;
    padding-left: 14px;
  }
  &__item-head {
    color: $works-heading-color;
    font-family: $bebas;
    font-weight: 400;
    line-height: 18px;
  }
  &__item-link {
    text-decoration: none;
    color: inherit;
  }
  &__date {
    color: $works-main-theme;
    font-family: $bebas;
    font-size: 0.6875rem;
    font-weight: 400;

  }
  @include max-media('910px') {
    &__item {
      width: 45%;
      &:nth-child(n) {
        margin: 0;
      }
      &:nth-child(n+2) {
        margin-top: 20px;
      }
      &:nth-child(2n) {
        margin-left: 10%;
      }
    }
  }
  @include max-media('500px') {
    &__item {
      width: 300px;
      display: block;
      &:nth-child(n) {
        margin: 0 auto;
      }
      &:nth-child(n+2) {
        margin-top: 20px;
      }
    }
  }
  @include sFlex() {
    &__item {
      &:nth-child(n) {
        margin: 0;
      }
    }
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    @include max-media('910px') {
      &__item {
        &:nth-child(n+3) {
          margin-top: 20px;
        }
      }
    }
    @include max-media('500px') {
      &__list {
        justify-content: center;
      }
      &__item {
        width: 300px;
        &:nth-child(n+2) {
          margin-top: 20px;
        }
      }
    }
  }
}