.wrapper{
  max-width: 960px;
  margin: 0 auto;

  border-right: 10px solid white;
  border-left: 10px solid white;
  position: relative;
  z-index: 10;
  &:before{
    transition: all 0.4s ease;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    background-color: #ccc;
    z-index: 14;
    content: '';
    display: block;
  }
  &.opacity{
    &:before{
      transition: opacity 1s ease;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: #ccc;
      opacity: 0.5;
      z-index: 14;
      content: '';
      display: block;
    }
  }
}