mixin article(mixClass)
    div(class='article '+(mixClass||''))
        div.article__img-box
            img.article__img(src=require('./../../shared/images/slide-2.jpg'))
        div.article__text-box
            p Praesent in dictum est. Fusce scelerisque nibh
                |&nbsp; in sem rhoncus semper. Sed nisi risus, adipiscing
                |&nbsp; eu mollis luctus, elementum at lacus. Suspendisse
                |&nbsp; porta, eros eu fermentum molestie, purus erat hendrerit
                |&nbsp; tellus, sodales rhoncus justo sapien in lacus. Morbi tincidunt
                |&nbsp; lorem vitae turpis molestie lacinia. Vivamus nec nulla turpis.
                |&nbsp; Ut placerat lacus aliquet ipsum lobortis vitae varius felis ullamcorper.
                |&nbsp; Maecenas pharetra imperdiet dolor eu pulvinar.
            p Nullam justo quam, tristique sit amet facilisis non,
                |&nbsp; commodo vel nunc. In quam libero, pulvinar et scelerisque vitae,
                |&nbsp; molestie euismod justo. Donec tortor magna, vehicula in facilisis
                |&nbsp; sit amet, ultricies nec massa. Curabitur at tincidunt sem. Mauris nulla
                |&nbsp; justo, ornare in condimentum non, eleifend at nibh. Nullam mattis faucibus odio,
                |&nbsp; sit amet aliquam urna lobortis sit amet. Aliquam mauris elit, consectetur vestibulum
                |&nbsp; tincidunt vitae, sodales vel libero. Phasellus malesuada, metus vitae lobortis sodales, diam
                |&nbsp; lacus lacinia metus, id sodales ante urna in urna. Duis elementum luctus mi, et euismod leo aliquet
                |&nbsp; at. Proin justo est, elementum in posuere ac, pharetra non ipsum. Phasellus sit amet nisi quis lacus
                |&nbsp; hendrerit elementum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                |&nbsp; egestas. Morbi bibendum enim ut sapien pellentesque lacinia. Aliquam fringilla sem eget sem pulvinar
                |&nbsp; egestas. Duis congue lorem id mi scelerisque gravida. Ut in lacus libero.