mixin burger(mixClass)
    div(class='burger js-burger '+(mixClass||''))
        div.burger__line.burger__line--top
        div.burger__line.burger__line--middle
        div.burger__line.burger__line--bottom