mixin contact(mixClass)
    section(class='contact clearfix '+(mixClass||''))
        div.contact__left.content-wrapper__left.clearfix
            div.contact__map-box
                iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3A5bf86bf16d92ccbf7bba74000bc2cd3b' +
                '355a99a78cbaad7e15741ad062167892&source=constructor' width='100%' height='100%' frameborder='0')
            div.contact__input-fields.clearfix
                div.contact__inf-box.clearfix
                    p Lorem ipsum dolor sit amet, in consectetur adipiscing elit. Siri Integer nec odio.
                        | Praesent libero. Sed cursus ante dapibus diam. Sed nisi. Nulla quis sem at nibh elementum.
                    p
                        span Best PSD Freebies
                        br
                        | 328 Ave C
                        br
                        | Saskatoon, SK
                        br
                        | S7R 2V9
                    p
                        b t:
                        | &nbsp;(888) 842 - 8356
                        br
                        b f:
                        | &nbsp;(888) 452 - 9257
                        br
                        b e:
                        |&nbsp;info@psdfreebies.com
                div.contact__input-box.clearfix
                    input(type='text' placeholder="first   name").contact__input
                    input(type='text' placeholder="last   name").contact__input
                    input(type='email' placeholder="email   address").contact__input
                    textarea(placeholder="first   name").contact__input.contact__input--textarea
                    input(type="submit" value="submit").contact__submit
        div.contact__right.content-wrapper__right