mixin footer(mixClass)
    footer(class="footer "+(mixClass||''))
        div.footer__about.footer__item
            h2.footer__head About  Jetro
            div.footer__text-box
                p.footer__text  Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel.
                    |Urbanitas adolescens vim te, per at tritani aperiri. Adhuc invenire
                    |convenire his ea. Id mei vitae denique, in eam commodo veritus disputando.
                    br
                    br
                    |Pro et erant delicata, eu vim essent imperdiet accommodare, dictas deseruisse ius an. Solet everti definitionem id ius, sonet oporteat cu vim.
        div.footer__about.footer__item.footer__item--widget
            h2.footer__head Twitter  Widget
            div.footer__text-box
                p.footer__text
                    span @pixelmater
                    |&nbsp;What an awesome design with great functionality :)
                    br
                    br
                    span about 1 hour ago
                    br
                    br
                    span @designdude
                    |&nbsp;What an awesome design with great functionality :)
                    br
                    br
                    |Follow
                    span &nbsp;@bestpsdfreebies
        div.footer__about.footer__item.footer__item--contact
            h2.footer__head Contact  Us
            div.footer__text-box
                p.footer__text
                    | Lorem ipsum dolor sit amet, malorum recteque reprehendunt ea vel.
                    | Urbanitas adolescens vim te, per at tritani aperiri.
                    br
                    br
                    |information@jetro.com
                    br
                    |1.222.333.4444

