doctype html
| PASTE YOUR HTML CODE HERE
head
    title PugERqweqwe123
    script(type='text/javascript').
h1 PugERR - node template asda sd1213enASqweq1weqDgineQWE
#containerasd.col123141414qweqweBOA12BA12
    img(src=require('../../shared/images/123.png'))
    img(src=require('../../shared/images/1563562525128012105.jpg'))