mixin portfolio-navigation(mixClass)
    ul(class='portfolio-navigation '+(mixClass||''))
        li.portfolio-navigation__item.active
            a.portfolio-navigation__link(href='#') all
        li.portfolio-navigation__item
            a.portfolio-navigation__link(href='#') Print
        li.portfolio-navigation__item
            a.portfolio-navigation__link(href='#') Web
        li.portfolio-navigation__item
            a.portfolio-navigation__link(href='#') Photoshop
        li.portfolio-navigation__item
            a.portfolio-navigation__link(href='#') WorDPress


