mixin portfolio-item(mixClass)
    div(class="portfolio-item "+(mixClass||''))
        div.portfolio-item__head.portfolio-item__head--setting
           h3.portfolio-item__head-text Check  out  my  latest portfolio  items Check  out  my  latest portfolio  items
        div.portfolio-item__text-box
            p.portfolio-item__text Maecenas ipsum metus, semper hendrerit varius mattis,
                | congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum
                | enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc.
                | Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
        div.portfolio-item__button
            a.portfolio-item__link(href="#")
                span.portfolio-item__link-text more
    div(class="portfolio-item " + (mixClass || ''))
        div.portfolio-item__head.portfolio-item__head--tick
            h3.portfolio-item__head-text Check  out  my  latest portfolio  items Check  out  my  latest portfolio  items
        div.portfolio-item__text-box
            p.portfolio-item__text Maecenas ipsum metus, semper hendrerit varius mattis,
                | congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum
                | enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc.
                | Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
        div.portfolio-item__button
            a.portfolio-item__link(href="#")
                span.portfolio-item__link-text more
    div(class="portfolio-item " + (mixClass || ''))
        div.portfolio-item__head.portfolio-item__head--contr
            h3.portfolio-item__head-text Check  out  my  latest portfolio  items Check  out  my  latest portfolio  items
        div.portfolio-item__text-box
            p.portfolio-item__text Maecenas ipsum metus, semper hendrerit varius mattis,
                | congue sit amet tellus. Aliquam ullamcorper dui sed magna posue re ut elementum
                | enim rutrum. Nam mi erat, porta id ultrices nec, pellentesque vel nunc.
                | Cras varius fermentum iaculis. Aenean sodales nibh non lectus tempor a interdum justo ultricies.
        div.portfolio-item__button
            a.portfolio-item__link(href="#")
                span.portfolio-item__link-text more