include ./1
doctype html
| PASTE YOUR HTML CODE HERE
head
    title Pug
    script(type='text/javascript').
h1 Pug - node template engine
#container.col
    +hello
    p You are amazing123
    p Pug is a terse and simple templating language.12123