include ../blocks/header
include ../layouts/head
include ../blocks/decor
include ../blocks/footer
include ../blocks/heading-item
include ../blocks/contact

+head
body.contact-page
    div.wrapper
        +header
        +heading-item('contact-page__heading-item','Contact us')
        +contact('contact-page__contact')
        +footer('page__footer')
    +decor('page__decor page__decor--top decor--small')
    +decor('page__decor page__decor--bottom decor--big')